<div class="well">
  <h3 class="text-primary text-center">Get more inspiration!</h3>
  <div class="row">
    <div class="col-lg-1">
    </div>

    <div class="col-lg-2">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Whiskey 1</h2>
      <p> info about this whiskey </p>
    </div>

    <div class="col-lg-2">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Whiskey 2</h2>
      <p> info about this whiskey </p>
    </div>

    <div class="col-lg-2">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Whiskey 3</h2>
      <p> info about this whiskey </p>
    </div>

    <div class="col-lg-2">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Whiskey 4</h2>
      <p> info about this whiskey </p>
    </div>

    <div class="col-lg-2">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Whiskey 5</h2>
      <p> info about this whiskey </p>
    </div>
  </div>
  <br>

</div>
