<div class="well">
  <h3 class="text-primary text-center">Get more inspiration!</h3>
  <div class="row">
    <div class="col-lg-1">
    </div>

    <div class="col-lg-2" align="center">
      <img class="img" src="img/jw.png" alt="Generic placeholder image" width="90" height="150">
      <h3>Johnnie Walker Gold</h3>
      <p>Country: Schotland</p>
      <p>Type: Blended</p>
    </div>

    <div class="col-lg-2" align="center">
      <img class="img" src="img/grants.png" alt="Generic placeholder image" width="70" height="150">
      <h3>Grant's</h3>
      <br>
      <p>Country: Schotland</p>
      <p>Type: Blended</p>
    </div>

    <div class="col-lg-2" align="center">
      <img class="img" src="img/ts.png" alt="Generic placeholder image" width="70" height="150">
      <h3>Talisker Skye</h3>
      <br>
      <p>Country: Schotland</p>
      <p>Type: Malt</p>
    </div>

    <div class="col-lg-2" align="center">
      <img class="img" src="img/jb.png" alt="Generic placeholder image" width="70" height="150">
      <h3>Jim Beam White</h3>
      <p>Country: United States</p>
      <p>Type: Bourbon</p>
    </div>

    <div class="col-lg-2" align="center">
      <img class="img" src="img/glenfiddich.png" alt="Generic placeholder image" width="90" height="150">
      <h3>Glenfiddich 25 Years</h3>
      <p>Country: Schotland</p>
      <p>Type: Malt</p>
    </div>
  </div>
  <br>

</div>
