<% whiskyName.forEach(function(whisky){ %>
  <div class='whisky'>
  <li><a href='/connector/<%= whisky._id %>'><b><%= whisky.name %></b></a>  </li>
  Country: <%= whisky.country %> <br>
  type: <%= whisky.type %>
</div>
<%  }); %>
<hr>
Have you been drinking a Whisky that is not in the list? <br>
<a href="/add"> Add your own Whisky</a>
