<% whiskyName.forEach(function(whisky){ %>
  <div class="col-sm-6">
      <div class="well" align="center">
        <div class='whisky'>
        <a href='/whiskys/<%= whisky._id %>'><b><%= whisky.name %></b></a><br>
        Country: <%= whisky.country %> <br>
        type: <%= whisky.type %>
        </div>
      </div>
  </div>
<%  }); %>
<div class="col-sm-12" style="text-align: center">
      <h3>Have you been drinking a Whisky that is not in the list?<h3>
      <p><a class="btn btn-lg btn-primary" href="/add" role="button">Add your own Whisky</a></p>
</div>
