/* body {
  background: url(https://dianabusby.files.wordpress.com/2013/07/2013-07-07-weekly-upload-093.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.logo{
	background: white;
	border-radius: 10px;
}
.title{
	font-family: 'Calibri	';
}
.jumbotron {
	background: transparent;
}
.col-sm-8{
	background: transparent;
}
.container{
	margin-top: 5%;
	background: rgba(255, 255, 255, 0.5);;
	color:	black;
	border-radius: 10px;
	margin-bottom: 20px;
  }
.first-slide{
	width: 800px;
}

.second-slide{
	width: 800px;
}

.third-slide{
	width: 800px;
}

body {
	background-color: black;
	background-image: url("glass.jpg");
	background-repeat: no-repeat;
	background-size: 600px 400px;
	background-position: left bottom;
	background-attachment: fixed;
}
.whisky{
  border-radius: 10px;
}
.button2{
	margin-top: 20px;
	margin-bottom: 20px;
}
.form-group{
 margin: 0 auto;
}
