<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="container">
  <div class="alert text-center" role="alert">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Add your whiskey</h1>
    </div>
  </div>

  <form action="/added" method="post">
  	<div class="form-group" style="width: 25em;" >
  		<label>Name</label>
  		<input type="text" class="form-control" name="name" placeholder="Name of the Whisky">
  		<label>Type</label>
  		<select class="form-control" name="type">
  			<option value="Malt">Malt</option>
  			<option value="Grain">Grain</option>
  			<option value="Blended">Blended</option>
  			<option value="Single Pot Still">Single Pot Still</option>
  			<option value="Bourbon">Bourbon</option>
  			<option value="Tennessee">Tennessee</option>
  			<option value="Rye">Rye</option>
  			<option value="Corn">Corn</option>
  		</select>
  		<label>Country</label>
  		<input type="text" class="form-control" name="country" placeholder="Country of origin">
  	</div>



  <p align="center"> <button class="button2 btn btn-lg btn-primary" type="submit">Submit</button> </p><!--Title for button is same as that of the page-->
  </form>


  </div>
</body>
</html>
