<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    under construction
 </div>


     <div class="jumbotron text-center">
         <h1><span class="fa fa-lock"></span> Whisky Authentication</h1>

         <p>Login or Register with:</p>
         <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

         <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
         <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
     </div>


  </div>
</body>
</html>
