<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
     <div class="jumbotron text-center">

        <img class="logo" src="/img/logoDG.png" alt="Logo" height="150" width="150">
         <div class="title"> <h1><span class="fa fa-lock"></span>Distilled Gold</h1> </div>

         <p>Login or Register with:</p>
         <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
         <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
     </div>
  </div>
</body>
</html>
