<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="container">

  <form action="/add" method="post">
  	<div class="form-group">
  		<label>Name</label>
  		<input type="text" class="form-control" name="name" placeholder="Name of the Whisky">
  		<label>Type</label>
  		<select class="form-control" name="type">
  			<option value="malt">Malt</option>
  			<option value="grain">Grain</option>
  			<option value="blended">Blended</option>
  			<option value="singlePotStill">Single Pot Still</option>
  			<option value="bourbon">Bourbon</option>
  			<option value="tennessee">Tennessee</option>
  			<option value="rye">Rye</option>
  			<option value="corn">Corn</option>
  		</select>
  		<label>Country</label>
  		<input type="text" class="form-control" name="country" placeholder="Country of origin">
  	</div>

  <button type="submit">Submit</button> <!--Title for button is same as that of the page-->
  </form>


  </div>
</body>
</html>
