<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
    </style>
</head>
<body>
  <%include ../partials/nav.ejs %>
  <div class="container">
  	<div class="alert text-center" role="alert">
  		<div class="page-header text-center">
  			<h1><span class="fa fa-anchor"></span> Profile Page of jurjenfaber94@hotmail</h1>

  			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
  			<a href="list.html" class="btn btn-default"><span class="fa fa-user"></span> List </a>
  			<a href="/00001" class="btn btn-default btn-sm">Whisky</a>

  		</div>
  	</div>

  	<div class="col-sm-6  text-center">
  		<div class="well">
              <h3 class="text-primary">Welcome! </h3>
  			<p> Good to see you again </p>
          </div>

  		<!-- LOCAL INFORMATION -->
          <div class="well">
  			<h3><span class="fa fa-user"></span> Local</h3>
                  <p>
                  <strong>id</strong>: 569182d8f09757f817ad397<br>
                  <strong>email</strong>: jurjenfaber94@hotmail.com<br>
                  <strong>password</strong>: geheim
                  </p>
          </div>
      </div>

      <div class="col-sm-6  text-center">
          <div class="well">
              <h3 class="text-primary">The whiskey you rated last time: </h3>
  			<p> uit database halen </p>
  			<br>
  			<img class="lastwhiskey" src="img/whiskey1.png" height="400" width="150">
  			<br>
              </div>
      </div>

  	<div class="col-sm-12">
      <%include ../partials/carousel.ejs %>
      <%include ../partials/inspiration.ejs %>

  	</div>
  </div>
</body>
</html>
