<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
    </style>
</head>
<body>
  <%include ../partials/nav.ejs %>
  <div class="container">
  	<div class="alert text-center" role="alert">
  		<div class="page-header text-center">
  			<h1><span class="fa fa-anchor"></span> Profile Page of <%= user.local.email %></h1>
  		</div>
  	</div>

  	<div class="col-sm-6  text-center">
  		<div class="well">
              <h3 class="text-primary">Welcome! </h3>
  			<p> Good to see you again </p>
          </div>

  		<!-- LOCAL INFORMATION -->
          <div class="well">
  			<h3><span class="fa fa-user"></span>Last Rated Whiskeys</h3>
                  <p>
                  <ul>
                  <% for(var i = 0; i <= lastFiveRatings.length - 1; i++){
                  %><li><a href="/whiskys/<%= lastFiveWhiskyID[i] %>"><%= whiskyNames[i]%>: <%= lastFiveRatings[i]%></a><br>
                  <%
                  }
                  %>
                  </ul>
                  </p>
                  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          </div>
      </div>

      <div class="col-sm-6  text-center">
          <div class="well">
              <h3 class="text-primary">The whiskey you rated last time: </h3>
  			<p> uit database halen </p>
  			<br>
  			<img class="lastwhiskey" src="img/whiskey1.png" height="400" width="150">
  			<br>
              </div>
      </div>

  	<div class="col-sm-12">
      <%include ../partials/carousel.ejs %>
      <%include ../partials/inspiration.ejs %>

  	</div>
  </div>
</body>
</html>
