<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <%include ../partials/nav.ejs %>
<div class="container">
  <div class="alert text-center" role="alert">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Done!</h1>
    </div>
  </div>


     <div class="jumbotron text-center">
      <p>Thank you for rating, you rated your whiskey with a <%= rated%>. You described it as <%= description%></p>
     </div>
     <p align="center"><a class="btn btn-lg btn-primary" href="/00001" role="button">Rate another whiskey!</a></p>

  </div>
</body>
</html>
