<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <%include ../partials/nav.ejs %>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    under construction
 </div>


     <div class="jumbotron text-center">
      <p>Thank you for rating <%= message %>, you rated it with a 7</p>
     </div>


  </div>
</body>
</html>
