* {
	padding: 0;
	margin: 0;
}

header {
	height: 100px;
	background-color: black;
	margin-bottom: 20px;
}

header h1 {
	text-align:right;
	padding-top: 30px;
	padding-right: 250px;
	font-family: sans-serif;
	color:white;
	font-size:25px;
}

body {
	background-color: black;
	/* background-image:url('glass.png'); */
	background-repeat: no-repeat;
	background-size: 700px 500px;
	/*ik krijg de achtergrond niet op de goede plek, links onder*/
}

/*login form*/
.login {
	text-align:center;
	display: block;
	margin-right: 250px;
	float: right;
	width: 250px;
	height: 300px;
	padding-top: 20px;
}

h2 {
	color:white;
	font-size: 20px;
	font-family: sans-serif;
	padding-bottom: 20px;
}

#name {
	padding-left:10px;
	width: 150px;
	height: 30px;
	text-align: center;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	margin-bottom:20px;
	overflow: hidden;
}

#email {
	padding-left: 10px;
	width: 200px;
	height: 30px;
	text-align: center;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	margin-bottom:40px;
}

#submit {
	width: 110px;
	height: 40px;
	text-align:center;
	background-color: #73b4d4;
	border: none;
	color:white;
	font-weight: bold;
	font-size: 15px;
}

/*slideshow*/
#slideShowContainer{
	width:320px;
	height:300px;
	position:relative;
	margin:100px 250px 50px;
}

#slideShow{
	position:absolute;
	height:300px;
	width:300px;
	background-color:#fff;
	margin:10px 0 0 10px;
}

#slideShow ul{
	position:absolute;
	top:15px;
	right:15px;
	bottom:15px;
	left:15px;
	list-style:none;
	overflow:hidden;
}

#slideShow li{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#slideShowContainer > a{
	width:35px;
	height:35px;
	background:url('pijl.png') no-repeat;
	position:absolute;
	top:50%;
}

a#previousLink{
	left:-38px;
}

a#nextLink{
	right:-38px;
	background-position:top right;
}