<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>
  <%include ../../partials/nav.ejs %>
<div class="container">
  <form action="<%= varstring%>" method="post">
      <label>Type</label>
      <select class="form-control" name="whiskyRating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
      </select>
      <label>Description</label>
      <input type="text" class="form-control" name="description" placeholder="Description">

  <button type="submit">Submit</button> <!--Title for button is same as that of the page-->
  </form>

  <%= whiskyNum%>

  </div>
</body>
</html>
