<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>
  <%include ../../partials/nav.ejs %>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    under construction
 </div>


     <div class="jumbotron text-center">
      <a href="/rateOneStar" class="btn btn-default"><span class="fa fa-user"></span>One Star</a>
      <a href="/rateTwoStars" class="btn btn-default"><span class="fa fa-user"></span>Two Stars</a>
     </div>


  </div>
</body>
</html>
