<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>
  <%include ../../partials/nav.ejs %>
<div class="container">
  <div class="alert text-center" role="alert">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Rate your whiskey</h1>
    </div>
  </div>


  <form action="<%= varstring%>" method="post">
      <label>Grade</label>
      <select class="form-control" name="whiskyRating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
      </select>
      <label>Description</label>
      <input type="text" class="form-control" name="description" placeholder="Description">

  <p align="center"> <button class="button2 btn btn-lg btn-primary" type="submit">Submit</button> </p><!--Title for button is same as that of the page-->
  </form>

  <!-- <%= whiskyNum%> -->
<%include ../../partials/inspiration.ejs %>
  </div>
</body>
</html>
